body{
    padding-top: 60px;
}

.navbar-inverse{
    background-color: #0a64eb;
}

.navbar-inverse a {
    color: #fff !important;
}

.navbar-inverse a:hover{
    color: #9d9d9d !important;
}

#logo{
    width: 1.7vw;
}
